# Byte-compiled / optimized / DLL files
__pycache__/
  
 

 
 
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

 
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

  
# Rope project settings
.ropeproject

# mkdocs documentation
/site

 